body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#mapwrap {
    position: relative;
    height: 500px
    margin: 0;
    padding: 0;
    width: 100%;
}

#map {
    height: 500px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.border {
    display: inline-block;
    width: 20 px;
}

.centre {
    display: inline-block;
    margin: 0 25px;
}

#message {
    text-transform: capitalize;
}

#spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

